<div class="recipes-page-container">

  <div class="recipes-content">

    <!--Filters (visible only when showFilters = true) -->
    <div class="filters-container" *ngIf="showFilters">

      <h5 class="filters-title">Filtrer</h5>

      <!--  Filter groups  -->
      <div class="filtre-group">
        <div class="filtre-label">Type de plat</div>
        <mat-button-toggle-group [(ngModel)]="pendingFilters.typePlat">
          <mat-button-toggle class="style-h5" value="">Tous</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Entrée">Entrée</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Plat principal">Plat principal</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Accompagnement">Accompagnement</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Dessert">Dessert</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="filtre-group">
        <div class="filtre-label">Type de cuisine</div>
        <mat-button-toggle-group [(ngModel)]="pendingFilters.typeCuisine">
          <mat-button-toggle class="style-h5" value="">Toutes</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="suisse">Suisse</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="filtre-group">
        <div class="filtre-label">Mode de cuisson</div>

        <mat-button-toggle-group [(ngModel)]="pendingFilters.modeCuisson">
          <mat-button-toggle class="style-h5" value="">Tous</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="fondu">Fondu</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="fondu/grillé">Fondu / Grillé</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="poêlé">Poêlé</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="frit">Frit</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="mijoté">Mijoté</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="gratiné">Gratiné</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="au four">Au four</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="poché">Poché</mat-button-toggle>
        </mat-button-toggle-group>
      </div>


      <div class="filtre-group">
        <div class="filtre-label">Région</div>

        <mat-button-toggle-group [(ngModel)]="pendingFilters.region">
          <mat-button-toggle class="style-h5" value="">Toutes</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Fribourg">Fribourg</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Valais">Valais</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Berne">Berne</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Vaud">Vaud</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Genève">Genève</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="Canton de Vaud">Canton de Vaud</mat-button-toggle>
        </mat-button-toggle-group>
      </div>


      <div class="filtre-group">
        <div class="filtre-label">Sucré / Salé</div>

        <mat-button-toggle-group [(ngModel)]="pendingFilters.sucreSale">
          <mat-button-toggle class="style-h5" value="">Tous</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="sucré">Sucré</mat-button-toggle>
          <mat-button-toggle class="style-h5" value="salé">Salé</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <button class="btn-resultats" (click)="applyFilters()">
        <mat-icon>search</mat-icon>
        Montrer les {{ countPendingResults }} résultats
      </button>

    </div>

    <!-- Recipes (always visible) -->
    <div class="recipes-block">
      <div class="recipes-grid">

        <div class="recipes-card" *ngFor="let recette of filteredRecettes" (click)="navigateToRecette(recette.id)">

          <img [src]="recette.image" [alt]="recette.title" class="recipes-image" />
          <div class="recipes-info">
            <p class="recipes-description">{{ recette.title }}</p>
          </div>
        </div>

      </div>
    </div>

    <!--Back button-->
    <button class="btn-retour-small" (click)="clearAllFilters()">
      Retour
    </button>

  </div>
</div>